html {
    background-color: rgb(67, 128, 189);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    overflow: hidden;
}

a:link {
    color: black;   
}

a:visited{
    color: black;
}

#black {
    height: 10%;
    width: 10%;
    background-color: black;
    float: left;  
}

#nav {
    width: 79%;
    height: 10%;
    background-color: rgb(101, 98, 98);
    float: left;
    padding: auto;
}

#SFD {
    font-size: 27px;
    float: left;
    margin-left: 4%;
    margin-top: 2%;
}

#home {
    float: left;
    margin-top: 2%;
    margin-left: 50%;
    position: fixed;
}

#BSMdiv {
    border: 1px solid rgb(88, 84, 84);
    border-radius: 4%;
    height: 15%;
    width: 25%;
    float: left;
    margin-left: 7%;
    margin-top: 2%;
    padding: 1%;
    font-size: 12px;
    overflow: hidden;
    color: whitesmoke;
}

#Webdiv {
    border: 1px solid rgb(88, 84, 84);
    border-radius: 4%;
    height: 15%;
    width: 25%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    padding: 1%;
    font-size: 12px;
    overflow: hidden;
    color: whitesmoke;
}

#Salesdiv {
    border: 1px solid rgb(88, 84, 84);
    border-radius: 4%;
    height: 15%;
    width: 25%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    padding: 1%;
    font-size: 12px;
    overflow: hidden;
    color: whitesmoke;
}

#BSM {
    font-size: 16px;
    font-weight: bold;
    text-indent: 5%;
}

#grey {
    height: 40%;
    width: 70%;
    background-color: grey;
    float: left;
    margin-top: 5%;
    margin-left: 15%;
    padding: 1px;
}

#Linksdiv {
    background-color: white;
    height: 90%;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    width: 25%;   
}

#links {
    font-size: 20px;
    text-indent: 5%;
    font-weight: bold;
}

#indent {
    padding-left: 10%;
    font-size: 12px;
    color: black;
    font-weight: bold;
}

#sup {
    background-color: white;
    height: 90%;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    width: 72%;
    font-size: 13px;
    
}

#ul.a.link {
    color: purple;
}

#ul {
    margin-left: 5%;
    float: left;
}

#ol {
    float: left;
    margin-left: 30%;
}

#lorem {
    margin: 0% 5%;
}

#last {
    width: 70%;
    height: 20%;
    background-color: black;
    float: left;
    margin-left: 15%;
}

#contact {
    color: white;
    text-indent: 4%;
}

#socials {
    margin-left: 10%;
    float: left;
    margin-top: 1%;
}

#copy {
    color: white;
    float: left;
    margin-left: 50%;
    font-size: 10px;
    margin-top: 1%;
}